
body {
    height: fit-content;
    width: fit-content;
    background-image: url(/Premium\ Photo\ _\ Top\ view\ of\ blue\ calculator\ and\ notepad\ on\ color\ background.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
  }
  
  nav {
    height: 60px;
    width: 1400px;
    background-color:transparent;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: rgb(76, 8, 177);
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav a:hover {
    background-color: #8bacf1;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: #5516c2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  
    img{
      height: 60px;
      width: 60px;
      float: left;
      border-radius: 20px;
    }
    main {
      padding: 20px;
    }
  h1{
    color: #4e10e1;
  }
  .card1{
    height: 250px;
    width: 500px;
    background: url(https://i.pinimg.com/474x/a8/58/54/a85854e3888e1585f7add9cee5c9b4b9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 90px;
    margin-left: auto;
    margin-right: 150px;
    padding: 20px;
    background-attachment: transparent;
    border-radius: 15px;
    opacity: 0.6;
    
  }
  .card2{
    height: 250px;
    width: 500px;
    background: url(https://i.pinimg.com/474x/72/6d/54/726d54d191ffb6cd09bf26430f19c427.jpg) transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -290px;
    margin-left: 150px;
    margin-right: auto;
    padding: 20px;
    opacity: 0.6;
    border-radius: 15px;
  }
  .transparent-background{
    opacity: 1;
  }
  button{
    height: 40px;
    width: 350px;
    text-align: center;
    margin-top: 180px;
    background-color: #5516c2;
    color: #f9f9f9;
    border-radius: 10px;
    
  }
  
    footer {
      background-color: #6d75cf;
      color: #fff;
      padding: 10px;
      text-align: center;
      margin-bottom: 5px;
      height: 30px;
      width: 1;
    }